{% extends 'base.html.twig' %}


{% block body %}

<html>
  <body>



    <div class="row">
        <div class="col-md-10 col-md-offset-1 text-center">
            <h3 class="heading-uppercase">Billeterie</h3>
            <div class="divider divider-alt divider-dark divider-center"></div>
           <p class="lead mb-50">Commander des billets</p>
        </div>
    </div>
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
          <div class="contact-forn">
              {{ form_start(form, {'attr': {'class': 'mb-0'}}) }}  

              {{ form_errors(form) }}
                
                <div class="col-md-6 col-sm-6">
                   <div class="form-group">


                    {{ form_label(form.dateVisite, "Date de la visite*", {'label_attr': {'class': ''}}) }}

                    {{ form_widget(form.dateVisite, {'attr': {'class': 'form-control'}}) }}
                    

                    {{ form_errors(form.dateVisite) }}

                  </div>

                </div>


                <div class="col-md-6 col-sm-6">
                   <div class="form-group">
                    {{ form_label(form.typeCmd, "Durée de la visite*", {'label_attr': {'class': ''}}) }}

                    {{ form_widget(form.typeCmd, {'attr': {'class': 'form-control', 'placeholder': 'Votre adresse email'}}) }}
                    
                    {{ form_errors(form.typeCmd) }}

                  </div>

                </div>


                <div class="col-md-12 col-sm-12">
                   <div class="form-group">
                    {{ form_label(form.email, "Votre e-mail*", {'label_attr': {'class': ''}}) }}


                    {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': 'Votre adresse email'}}) }}
                    
                    {{ form_errors(form.email) }}

                  </div>

                </div>
            
                   {{ form_row(form.billets) }}
                     <div class="col-md-12 col-sm-12" style="margin-top:20px;">
              <div class="col-md-6 col-sm-6" style="text-align:right;">
              <button href="#" id="add_billet" class="btn btn-noradius" style="background-color:white; border:2px solid #1043cc; color:#1043cc;" type="button" id="cf-submit" name="cf-submit">Ajouter un billet</button>
             </div>

             <div class="col-md-6 col-sm-6" style="text-align:left;">
            {{ form_widget(form.save, {'attr': {'class': 'btn btn-noradius'}}) }} 
            </div>
          </div>

              {{ form_end(form) }}     


            <div class="col-md-12 col-sm-12" >
              <DIV class="alert alert-danger" id="errorPayment"  style="display:none; margin-top:20px;" role="alert" ></DIV>
            </div>

            <div class="col-md-12 col-sm-12" style="text-align:left;">
              <center><img src="https://leskits.com/assets/img/loader.svg" id="loaderPayment" style="display:none;"></center>
            </div>


            <form action="{{ path('core_homepage') }}" id="form-paymentStripe" method="get">
    

                <DIV class="form-group">
                  <div class="col-md-12 col-sm-12">
                      <LABEL>Numéro de carte bancaire</LABEL>
                      <INPUT data-stripe="number"  type="text" class="form-control requiredInput" required>
                  </DIV>
               </div>

                <div class="col-md-4 col-sm-4">
                  <DIV class="form-group">
                      <LABEL>Mois d'expiration </LABEL>
                      <INPUT data-stripe="exp_month" type="text" class="form-control requiredInput" required>
                  </DIV>
               </div>

                <div class="col-md-4 col-sm-4">
                  <DIV class="form-group">
                      <LABEL>Année d'expiration </LABEL>
                      <INPUT data-stripe="exp_year" type="text" class="form-control requiredInput" required>
                  </DIV>
               </div>

                <div class="col-md-4 col-sm-4">
                  <DIV class="form-group">
                    <LABEL>Code CVC</LABEL>
                    <INPUT data-stripe="cvc" type="text" class="form-control requiredInput" required>
                 </DIV>
              </div>


              <input type="hidden" id="stripeToken" name="stripeToken">
              <div class="col-md-12 col-sm-12">
                 <center><BUTTON type="button" onclick="submitFormStripe()" id="buttonPay" class="btn btn-noradius">Payer (<span class="prix"></span> euros)</BUTTON></center>
              </div>
          </form>


          </div>
      </div>
    </div>






<style type="text/css">
.billetDivIndi
{
  background-color: rgba(0,0,0,0.05);
  box-shadow: 2px 2px 4px rgba(0,0,0,0.05);
  margin-top: 15px;
  padding:15px;
  position:relative;
}

.deleteLink
{
  position:absolute;
  top:5px;
  right:5px;
}

.deleteLink a
{
color:red;
}

input[type="radio"], input[type="checkbox"]
{
  margin-left: 20px;
}

input[type="radio"] + label
{
  margin-left: 5px;
}
</style>



<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>


<script type="text/javascript">



      

function submitFormStripe()
{
var $form = $('#form-paymentStripe');

 if( !$(".requiredInput").val() ) 
 {
  $("#errorPayment").show();
  $("#errorPayment").html('Vous n\'avez pas indiquer votre informations de paiement.');
 }
 else
 {



$("#buttonPay").attr('disabled', true);
$("#errorPayment").hide();
$("#errorPayment").html('');






Stripe.setPublishableKey('pk_test_D7J6Jk5fEdihQT5AWzfTZC9x');

       Stripe.card.createToken($form, function (status, response) {
                if (response.error) {
            
                    $("#errorPayment").show();
                 

var errorMessages = {
  incorrect_number: "Le numéro de carte est incorrect.",
  invalid_number: "Le numéro de carte est incorrect.",
  invalid_expiry_month: "Le mois d'expiration de la carte est invalide.",
  invalid_expiry_year: "L'année d'expiration de la carte est invalide.",
  invalid_cvc: "Le code de sécurité à 3 chiffres est invalide.",
  expired_card: "La carte a expiré.",
  incorrect_cvc: "Le code de sécurité à 3 chiffres est incorrect.",
  incorrect_zip: "Le zip code de la carte est faux.",
  card_declined: "La carte a été décliné.",
  missing: "Il n'y a pas de carte sur un client qui est en cours de facturation.",
  processing_error: "Une erreur s'est produite lors du traitement de la carte.",
  rate_limit:  "Frapper l'API trop rapidement. S'il vous plaît laissez-nous savoir si vous rencontrez toujours cette erreur."
};

  if ( response.error && response.error.type == 'card_error' ){
    $( '#errorPayment' ).html( errorMessages[ response.error.code ] );
  }




                    $("#buttonPay").attr('disabled', false)
                } else {
                    var token = response.id
                    $("#stripeToken").val(token);

                   
 $.ajax({
  type: $form.attr('method'),
  url: $form.attr('action'),
  data: $form.serialize(),
  dataType: 'json', // JSON
     
beforeSend: function() {

$("#loaderPayment").show();
           
     },  
 success: function(json) {

$("#loaderPayment").hide();


if(json.payment === 'yes') {
$("#successPayment").show();
$($form).hide();


  window.setTimeout(function(){

    location.reload();

    }, 4000);


} 
else
{
$("#errorPayment").show();
$("#errorPayment").html(json.payment);

}
                                               
  }
                
                  

                });
                  

                  



                }
            })

 }
}

 


$("[name=corebundle_commande]").submit(function(e){

    e.preventDefault(); //Prevent Default action.
    var formURL = "{{ path('core_homepage') }}";
    var formData = $(this).serialize();
    $.ajax({
        url: formURL,
        type: 'POST',
        data:  formData,
        dataType: 'json',
        success: function(data)
        {
          alert(data.status);
          if(data.status == "ok")
          {
            $("[name=corebundle_commande]").fadeOut();
            $("#form-paymentStripe").fadeIn();
            $(".mb-50").html('Paiement');
          }
        },
        error: function(data)
        {
        }
    });


});




function disableDays(date) {

  var holidays = ["2018-08-15","2018-11-01","2018-12-25"];

  var datestring = jQuery.datepicker.formatDate('yy-mm-dd', date);
  return [ holidays.indexOf(datestring) == -1 ];


}
var dateToday = new Date(); 





  $(document).ready(function() {

       $('#corebundle_commande_dateVisite').datepicker({
          beforeShowDay: disableDays,
          closeText: 'Fermer',
          prevText: 'Précédent',
          nextText: 'Suivant',
          minDate: dateToday,
          currentText: 'Aujourd\'hui',
          monthNames: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'],
          monthNamesShort: ['Janv.', 'Févr.', 'Mars', 'Avril', 'Mai', 'Juin', 'Juil.', 'Août', 'Sept.', 'Oct.', 'Nov.', 'Déc.'],
          dayNames: ['Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi'],
          dayNamesShort: ['Dim.', 'Lun.', 'Mar.', 'Mer.', 'Jeu.', 'Ven.', 'Sam.'],
          dayNamesMin: ['D', 'L', 'M', 'M', 'J', 'V', 'S'],
          weekHeader: 'Sem.',
          dateFormat: 'yy-mm-dd'
      });
    var $container = $('div#corebundle_commande_billets');
    $container.children('div').addClass('col-md-6');

    var index = $container.find(':input').length;

    
    $('#add_billet').click(function(e) {
      addCategory($container);

      e.preventDefault(); 
      return false;
    });


    if (index == 0) {
      addCategory($container);
    } else {

      $container.children('div').each(function() {
        addDeleteLink($(this));
      });
    }


    function addCategory($container) {

      var template = $container.attr('data-prototype')
        .replace(/__name__label__/g, 'Billet n°' + (index+1))      
        .replace(/__name__/g,        index)
      ;

    $container.delegate('.js-datepicker','focus',function(evt){

       $(this).datepicker({
          closeText: 'Fermer',
          prevText: 'Précédent',
          nextText: 'Suivant',
          currentText: 'Aujourd\'hui',
          monthNames: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'],
          monthNamesShort: ['Janv.', 'Févr.', 'Mars', 'Avril', 'Mai', 'Juin', 'Juil.', 'Août', 'Sept.', 'Oct.', 'Nov.', 'Déc.'],
          dayNames: ['Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi'],
          dayNamesShort: ['Dim.', 'Lun.', 'Mar.', 'Mer.', 'Jeu.', 'Ven.', 'Sam.'],
          dayNamesMin: ['D', 'L', 'M', 'M', 'J', 'V', 'S'],
          weekHeader: 'Sem.',
          dateFormat: 'yy-mm-dd'
      });
    });


      var $prototype = $(template);

      $($prototype).addClass('col-md-6 col-sm-12');
      $($prototype).children('div').addClass('billetDivIndi');
      addDeleteLink($prototype);


      $container.append($prototype);


      index++;
    }


    function addDeleteLink($prototype) {

      var $deleteLink = $('<div class="deleteLink"><a href="#" ><i class="fa fa-close"></i></a></div>');

      $($prototype).children('div').append($deleteLink);


     
      $deleteLink.click(function(e) {
        $prototype.remove();

        e.preventDefault();
        return false;
      });
    }
  });
</script>




</div>

  </body>
</html>

{% endblock %}